<h2>Send your promo code to a Foe</h2>
<h4>Enter your foe's email adresse below</h4>

<.form
  let={f}
  for={@changeset}
  id="promo-form"
  phx-change="validate"
  phx-submit="save">

  <%= label f, :first_name %>
  <%= text_input f, :first_name %>
  <%= error_tag f, :first_name %>

  <%= label f, :email %>
  <%= text_input f, :email %>
  <%= error_tag f, :email %>

  <%= submit "Curse foe" %>
</.form>
